/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body
{
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	background-color: #65cdf6;
}

h2
{
	font-size: 1.9em;
	font-weight: normal;
	margin: 0 0 20px 0;
	letter-spacing: -1px;
	line-height: 1.6em;
	border-bottom: 1px solid #eeeeee;
	color: #08445d;
}

h3
{
	margin-top: 20px;
	margin-bottom: 10px;
}

p, ol, ul
{
	line-height: 1.67em;
}

a
{
	text-decoration: none;
	color: #3588A9;
}

a:hover
{
	color: #000000;
	text-decoration: underline;
}


hr
{
	display: none;
}

img
{
	border: none;
}

/* Tables */

table
{
	width: 100%;
	border-collapse: collapse;
}

table *
{
	padding: 2px 0;
}

table tr th
{
	text-align: left;
	font-size: 0.9em;
	color: #666666;
	border-bottom: 1px solid #cccccc;
	padding: 6px 0;
}

table tr td.actions
{
	text-align: right;
}

table.details
{
}

table.details *
{
	padding: 4px 0;
}

table.details tr th
{
	border: none;
}

/* Misc */

div.errors
{
	background-color: #fbbbbb;
	margin-bottom: 20px;
	padding-bottom: 1px;
}

div.errors h3
{
	background-color: red;
	font-size: 1.1em;
	color: white;
	padding: 0.3em;
	margin: 0;
}

div.actions
{
	float: right;
	font-size: 0.8em;
}

div.actions a
{
	padding: 4px 6px;
	margin-left: 3px;
	text-decoration: none;
	background-color: #f7f7f7;
	color: #666666;
	-moz-border-radius: 3px;
}

div.actions a:hover
{
	background-color: #eeeeee;
}

div.notice
{
	font-size: 0.9em;
	background-color: #FFFDE8;
	border: 1px solid #eeeeee;
	padding: 4px;
	margin-bottom: 10px;
}

/* Forms */

form fieldset
{
	border: none;
	margin-bottom: 10px;
}

form fieldset ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

form fieldset ul li
{
	clear: both;
	float: left;
	width: 100%;
	padding: 0 0 10px;
}

form fieldset ul li label
{
	float: left;
	width: 20%;
	padding: 0.3em;
	margin-right: 2%;
	text-align: right;
	line-height: 1em;
	color: #666666;
}

form fieldset ul li input
{
	float: left;
	width: 30%;
}

div.fieldWithErrors input
{
	border: 2px solid red;
}


/* Container */

#container
{
	width: 800px;
	margin: 0 auto;
}

/* Header */

#header
{
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
}

#logo
{
	padding: 40px 0 0 0;
}

#logo h1
{
	margin: 0;
	padding-bottom: 5px;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 3.0em;
	font-weight: normal;
	color: white;
	border-bottom: 1px solid #b0e5fa;
}

#logo h1 a 
{
	color: White;
	text-decoration: none;
}

#menu
{
	float: right;
}

#menu ul
{
	margin: 0px;
	padding: 60px 0 0;
	list-style: none;
}

#menu li
{
	display: inline;
}

#menu li a
{
	display: block;
	float: left;
	margin-left: 18px;
	padding: 5px;
	font-size: 0.9em;
	line-height: 1.0em;
	text-decoration: none;
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#menu li.active a
{
	background-color: #8bd8f8;
}

#menu li a:hover
{
	background-color: #4b98b8;
}

/* Page */

#content
{
	clear: both;
	margin-top: 20px;
	padding: 20px 15px;
	background-color: #ffffff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#content ul.list
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#content ul.list li
{
	border: 1px solid #cccccc;
	padding: 8px;
	margin: 6px 0px;
}

#content ul.list li h3
{
	margin: 0px;
}

#content ul.list li a
{
	margin-right: 6px;
}

/* Footer */

#footer
{
	text-align: center;
	font-size: 0.85em;
	color: #f7f7f7;
}

#footer a
{
	color: #f7f7f7;
	text-decoration: underline;
}
